@import "../src/style/colors";
@import "../src/style/media-query";
@import "../src/style/utils";

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  color: $textColor;
}

html {
  height: 100%;
}

.header {
  background-color: $greenColor;
  border: none;
  margin: 0;
  height: 80px;
  width: 100%;

  @include bigger-than-mobile {
    @include banner-bg;
    background-color: transparent;
  }
}

.link {
  color: inherit;
  font-style: italic;

  &:hover {
    color: darkblue;
  }
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.rsvp-card {
  flex: 1;
  margin: 20px auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rsvp-card-content {
  background-color: #EEE;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.25);
  width: 80%;
  padding: 10px;
  text-align: center;
  position: relative;

  @include bigger-than-mobile {
    padding: 40px;
  }

  @include bigger-than-tablet {
    padding: 160px 40px 40px;
  }

  .rsvp-top-right-image,
  .rsvp-bottom-left-image {
    position: absolute;

    img {
      width: 20vw;
      height: auto;
    }
  }

  .rsvp-top-right-image {
    top: 0;
    right: 0;
  }

  .rsvp-bottom-left-image {
    bottom: 0;
    left: 0;

    img {
      transform: rotate(180deg);
    }
  }

  .rsvp-rsvp {
    img {
      width: 30%;
      min-width: 200px;
    }
  }

  .rsvp-respondez {
    margin-top: -10px;
    padding-top: 0;
    font-size: .9em;
  }

  .rsvp-email {
    font-size: 1.1em;
    font-style: italic;
    margin: 40px 0 0;

    @include bigger-than-mobile {
      font-size: 1.5em;
    }
  }

  .rsvp-privately {
    margin-top: 5px;
    font-size: .9em;
  }

  .rsvp-website {
    margin: 120px 0 10px auto;
    text-align: right;
    width: 200px;

    @include bigger-than-mobile {
      margin: 120px 30px 10px 0;
      width: auto;
    }

    @include bigger-than-tablet {
      margin: 180px 120px 10px 0;
    }
  }
}
