@import "../src/style/colors";
@import "../src/style/media-query";
@import "../src/style/utils";

body {
  padding: 0;
  margin: 0;
}

.header {
  background-color: $greenColor;
  border: none;
  margin: 0;
  height: 80px;
  width: 100%;

  @include bigger-than-mobile {
    @include banner-bg;
    background-color: transparent;
  }
}

