<section class="married">
  <div class="married-box">
    <p class="married-names">Vanessa & Giulio</p>
    <p class="married-title">are getting married!</p>
  </div>

  <div class="married-polaroid-container">
    <div class="married-polaroid-banner"></div>
    <div class="married-polaroid">
      <div class="married-polaroid-frame">
        <img class="married-polaroid-frame-image" src="./assets/cuore.png" alt="heart"/>
      </div>
      <p class="married-polaroid-save-date">save the date</p>
      <p class="married-polaroid-date">01.09.2020</p>
    </div>
  </div>
</section>
<section class="countdown">
  <p class="countdown-title">Countdown to the big day</p>
  <div class="countdown-time">
    <div class="countdown-days">
      <p class="countdown-digit">{{days}}</p>
      <p class="countdown-unit">days</p>
    </div>
    <div class="countdown-hours">
      <p class="countdown-digit">{{hours}}</p>
      <p class="countdown-unit">hours</p>
    </div>
    <div class="countdown-minutes">
      <p class="countdown-digit">{{minutes}}</p>
      <p class="countdown-unit">minutes</p>
    </div>
    <div class="countdown-seconds">
      <p class="countdown-digit">{{seconds}}</p>
      <p class="countdown-unit">seconds</p>
    </div>
  </div>
</section>
<hr class="section-divider" />
<section class="info">
  <div class="info-image-container">
    <img class="info-image" src="./assets/in braccio.png" alt="in braccio" />
  </div>
  <div class="info-details">
    <p class="info-details-when">Tuesday 01 September</p>
    <p class="info-details-where">At <strong>Riverside Gallery</strong></p>
    <div class="info-details-events">
      <div class="info-details-event">
        <p class="info-details-event-time">14:30</p>
        <p class="info-details-event-what">Ceremony</p>
      </div>
      <div class="info-details-event">
        <p class="info-details-event-time">17:00</p>
        <p class="info-details-event-what">Reception</p>
      </div>
      <div class="info-details-event">
        <p class="info-details-event-time">19:00</p>
        <p class="info-details-event-what">Party!</p>
      </div>
    </div>
  </div>
</section>
<hr class="section-divider" />
