<section class="married">
  <div class="married-box">
    <p class="married-names">Vanessa & Giulio</p>
    <p class="married-title">are getting married!</p>
  </div>

  <div class="married-polaroid-container">
    <div class="married-polaroid-banner"></div>
    <div class="married-polaroid">
      <div class="married-polaroid-frame">
        <img class="married-polaroid-frame-image" src="./assets/heart.png" alt="heart"/>
      </div>
      <p class="married-polaroid-save-date">save the date</p>
      <p class="married-polaroid-date">01.09.2020</p>
    </div>
  </div>
</section>
<section class="countdown">
  <p class="countdown-title">Countdown to the big day</p>
  <div class="countdown-time">
    <div class="countdown-days">
      <p class="countdown-digit">{{days}}</p>
      <p class="countdown-unit">days</p>
    </div>
    <div class="countdown-hours">
      <p class="countdown-digit">{{hours}}</p>
      <p class="countdown-unit">hours</p>
    </div>
    <div class="countdown-minutes">
      <p class="countdown-digit">{{minutes}}</p>
      <p class="countdown-unit">minutes</p>
    </div>
    <div class="countdown-seconds">
      <p class="countdown-digit">{{seconds}}</p>
      <p class="countdown-unit">seconds</p>
    </div>
  </div>
</section>
<hr class="section-divider" />
<section class="info">
  <div class="info-image-container">
    <img class="info-image" src="./assets/in braccio.png" alt="in braccio" />
  </div>
  <div class="info-details">
    <p class="info-details-when">On Tuesday 1st September 2020</p>
    <p class="info-details-where-pre">we'll celebrate our wedding event at</p>
    <p class="info-details-where"><strong>The Riverside Gallery</strong></p>
    <p class="info-details-where-sub">
      <a class="link" target="_blank" href="https://www.google.com/maps/place/Brewhouse+%26+Kitchen/@52.9381668,-1.1398016,17z/data=!4m13!1m7!3m6!1s0x4879c3cf4afb430f:0x32282e606c9fb1c3!2sNottingham+NG2+2GS!3b1!8m2!3d52.9382672!4d-1.1375718!3m4!1s0x0:0x70a00ccd29706374!8m2!3d52.9386758!4d-1.137602">
        Brewhouse and Kitchen<br />
        Trent Bridge<br />
        Nottingham<br />
        NG2 2GS
      </a>
    </p>
    <div class="info-details-events">
      <div class="info-details-event">
        <p class="info-details-event-img"><img src="./assets/ceremony.png" /></p>
        <p class="info-details-event-time">14:30</p>
        <p class="info-details-event-what">Ceremony</p>
        <p class="info-details-event-what-sub">are we seriously getting married?</p>
      </div>
      <div class="info-details-event">
        <p class="info-details-event-img"><img src="./assets/reception.png" /></p>
        <p class="info-details-event-time">17:00</p>
        <p class="info-details-event-what">Reception</p>
        <p class="info-details-event-what-sub">...OMG I was starving</p>
      </div>
      <div class="info-details-event">
        <p class="info-details-event-img"><img src="./assets/party.png" /></p>
        <p class="info-details-event-time">19:00</p>
        <p class="info-details-event-what">Party!!</p>
        <p class="info-details-event-what-sub">dancing and play time!</p>
      </div>
    </div>
  </div>
</section>
<hr class="section-divider" />
<section class="accommodation">
  <h2 class="accommodation-header">From Italy? We can help!</h2>
  <div class="accommodation-routes-container">
    <div class="accommodation-left-img"><img src="./assets/howtoget2.png" /></div>
    <div class="accommodation-right-img"><img src="./assets/howtoget1.png" /></div>
    <div class="accommodation-ema-route">
      <p class="accommodation-ema-route-intro"><strong>If you can come on a Wednesday or Sunday...</strong></p>
      <p class="accommodation-ema-route-details">
        The nearest airport from Nottingham is EMA
        and you can flight from pisa on wed and sun.
        Then take a bus from EMairport and in 45 mins
        you'll be in the city center [link to skylink].
        There are many option like single ticket/
        double ticket or family. All the prices are around
        £5 pp. If you are looking to share a ride with
        someone will be easier to take an Uber
        link to app] or call for a taxi from the airport
        desk [you'll see the indication when you land, don't worry].
        The prices are around 20/30£ to reach the
        city center and it will take less then 30 mins.
        (be sure to have some change with you if you
        are planning to take the coach)
      </p>
    </div>
    <div class="accommodation-london-route">
      <p class="accommodation-london-route-intro"><strong>...in alternative you can also visit London</strong></p>
      <p class="accommodation-london-route-details">
        You can flight to London almost everyday
        from pisa/bologna and then take a bus (4 hours ride per £25pp)
        [link nationalbus] or a train (2 hours ride per £65 pp)
        [link trainline]. When you grab the bus/train you'll
        each the city center with no problem. Be sure to
        have a nice book/music with you.
      </p>
    </div>
  </div>
  <div class="accommodation-stay">
    In Nottingham you'll find a lot of place where to stay during your holidays:
    there are a bunch of hotel in the city center [link booking] with a good range in prices.
    Also you can check if you can rent a small flat for you and your familly in the city through the airbnb.
    app. Be sure to book some place around the city because if you are getting further then NG3
    you’ll be pretty far from the center and then you’ll need a bus or a cab to reach the main tourist
    sites.  Also the city  it’s quite beautifil and I think you don’t want to miss it!!
  </div>
</section>
<hr class="section-divider">
