<div class="married">
  <div class="married-box">
    <p class="married-names">Vanessa & Giulio</p>
    <p class="married-title">are getting married!</p>
  </div>

  <div class="married-polaroid-container">
    <div class="married-polaroid-banner"></div>
    <div class="married-polaroid">
      <div class="married-polaroid-frame">
        <img class="married-polaroid-frame-image" src="./assets/cuore.png" alt="heart"/>
      </div>
      <p class="married-polaroid-save-date">save the date</p>
      <p class="married-polaroid-date">01.09.2020</p>
    </div>
  </div>
</div>
<div class="countdown">
  <p class="countdown-title">Countdown to the big day</p>
  <div class="countdown-time">
    <div class="countdown-days">
      <p class="countdown-digit">300</p>
      <p class="countdown-unit">Days</p>
    </div>
    <div class="countdown-hours">
      <p class="countdown-digit">20</p>
      <p class="countdown-unit">Hours</p>
    </div>
    <div class="countdown-minutes">
      <p class="countdown-digit">13</p>
      <p class="countdown-unit">Minutes</p>
    </div>
    <div class="countdown-seconds">
      <p class="countdown-digit">45</p>
      <p class="countdown-unit">Seconds</p>
    </div>
  </div>
</div>
